<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <script src="/javascripts/index.js" defer></script>
  </head>
  <body class="font-satoshi bg-slate-100">
    <div
      class="px-4 md:px-8 py-8 w-full bg-gradient-to-b from-purple-700 to-purple-400 flex row justify-center align-center"
    >
      <a href="/inventory/vehicles"
        ><img class="w-8 cursor-pointer" src="/images/home.svg"
      /></a>
      <h1
        class="w-full text-center text-white text-xl font-semibold md:text-2xl"
      >
        <%= title %>
      </h1>
      <img id="add-toggle" class="w-8 cursor-pointer" src="/images/plus.svg" />
    </div>

    <div
      id="mobile-add"
      class="md:-mx-4 hidden z-50 absolute h-screen w-screen justify-center bg-slate-900 bg-opacity-50 md:bg-transparent md:w-full md:justify-end md:h-fit"
    >
      <div
        class="p-4 m-4 bg-white w-full h-fit rounded-lg -translate-y-8 shadow-xl md:w-fit md:h-fit md:m-0 md:mx-4 md:px-8 md:-translate-y-4"
      >
        <ul>
          <li class="hover:underline">
            <a
              class="flex col gap-x-2 justify-center align-center"
              href="/inventory/make/create"
            >
              <img class="w-8 cursor-pointer" src="/images/plus_slate.svg" />
              <p class="flex items-center">Add Make</p>
            </a>
          </li>
          <li class="hover:underline">
            <a
              class="flex col gap-x-2 justify-center align-center"
              href="/inventory/vehicle/create"
            >
              <img class="w-8 cursor-pointer" src="/images/plus_slate.svg" />
              <p class="flex items-center">Add Vehicle</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <% if (make_vehicles.length > 0) { %>
    <p>Delete the following vehicles before attempting to delete this make.</p>
    <div>
      <h4>Vehicles</h4>
      <% for (item of make_vehicles) { %>
      <a href="<%= item.url %>"
        ><%= item.year %> <%= make.name %> <%= item.model %> <%= item.vin %></a
      >
      <% } %>
    </div>
    <% } else { %>
    <p>Do you really want to delete this make?</p>

    <form method="post">
      <input type="hidden" name="makeid" value="<%= make.id %>" />
      <button type="submit">Delete</button>
    </form>
    <% } %>
  </body>
</html>
