<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <script src="/javascripts/index.js" defer></script>
  </head>
  <body class="font-satoshi bg-slate-100">
    <div
      class="px-4 md:px-8 p-8 w-full bg-gradient-to-b from-purple-700 to-purple-400 flex row justify-center align-center"
    >
      <a href="/inventory"
        ><img class="w-8 cursor-pointer" src="/images/home.svg"
      /></a>
      <h1
        class="w-full text-center text-white text-xl font-semibold md:text-2xl"
      >
        <%= title %>
      </h1>
      <img id="add-toggle" class="w-8 cursor-pointer" src="/images/plus.svg" />
    </div>

    <div
      id="mobile-add"
      class="md:-mx-4 hidden z-50 absolute h-screen w-screen justify-center bg-slate-900 bg-opacity-50 md:bg-transparent md:w-full md:justify-end md:h-fit"
    >
      <div
        class="p-4 m-4 bg-white w-full h-fit rounded-lg -translate-y-8 shadow-xl md:w-fit md:h-fit md:m-0 md:mx-4 md:px-8 md:-translate-y-4"
      >
        <ul>
          <li class="hover:underline">
            <a
              class="flex col gap-x-2 justify-center align-center"
              href="/inventory/make/create"
            >
              <img class="w-8 cursor-pointer" src="/images/plus_slate.svg" />
              <p class="flex items-center">Add Make</p>
            </a>
          </li>
          <li class="hover:underline">
            <a
              class="flex col gap-x-2 justify-center align-center"
              href="/inventory/vehicle/create"
            >
              <img class="w-8 cursor-pointer" src="/images/plus_slate.svg" />
              <p class="flex items-center">Add Vehicle</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <h1><%= title %></h1>

    <form method="post">
      <div>
        <label for="year">Year:</label>
        <input
          id="year"
          name="year"
          type="number"
          placeholder="Ex. 2022"
          required
          value="<%= typeof year === `undefined` ? `` : year %>"
          autocomplete="off"
        />
        <label for="make">Make:</label>
        <select name="make" id="make" required>
          <% for (item of makes) { %> <% if (typeof make != "undefined") { %> <%
          if (item.id === make.id) { %>
          <option selected value="<%= item.id %>"><%= item.name %></option>
          <% } else { %>
          <option value="<%= item.id %>"><%= item.name %></option>
          <% } %> <% } else { %>
          <option value="<%= item.id %>"><%= item.name %></option>
          <% } %> <% } %>
        </select>

        <label for="model">Model:</label>
        <input
          id="model"
          name="model"
          type="text"
          placeholder="Ex. Tacoma"
          required
          value="<%= typeof model === `undefined` ? `` : model %>"
          autocomplete="off"
        />

        <label for="trim">Trim:</label>
        <input
          id="trim"
          name="trim"
          type="text"
          placeholder="Ex. TRD Pro"
          required
          value="<%= typeof trim === `undefined` ? `` : trim %>"
          autocomplete="off"
        />

        <label for="vin">VIN #:</label>
        <input
          id="vin"
          name="vin"
          type="text"
          placeholder="VIN #"
          required
          value="<%= typeof vin === `undefined` ? `` : vin %>"
          autocomplete="off"
        />

        <label for="price">Price:</label>
        <input
          id="price"
          name="price"
          type="number"
          placeholder="29995"
          required
          value="<%= typeof price === `undefined` ? `` : price %>"
          autocomplete="off"
        />

        <label for="miles">Mileage:</label>
        <input
          id="miles"
          name="miles"
          type="number"
          placeholder="50000"
          required
          value="<%= typeof miles === `undefined` ? `` : miles %>"
          autocomplete="off"
        />
        <button type="submit">Submit</button>
      </div>
    </form>
    <% if (typeof errors !== `undefined`) { %>
    <ul>
      <% for (item of errors) { %>
      <li><%= item.msg %></li>
      <% } %>
    </ul>
    <% } %>
  </body>
</html>
