<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="/stylesheets/output.css" rel="stylesheet" />
    <script src="/javascripts/index.js" defer></script>
  </head>
  <body class="font-satoshi bg-slate-100">
    <div
      class="px-4 pt-8 pb-16 w-full bg-gradient-to-b from-purple-700 to-purple-400 flex row justify-center align-center md:px-8"
    >
      <a href="/inventory/vehicles"
        ><img class="w-8 cursor-pointer" src="/images/home.svg"
      /></a>
      <h1
        class="w-full text-center text-white text-xl font-semibold md:text-2xl"
      >
        <%= title %>
      </h1>
      <img id="add-toggle" class="w-8 cursor-pointer" src="/images/plus.svg" />
    </div>

    <div
      id="mobile-add"
      class="md:-mx-4 hidden z-50 absolute h-screen w-screen justify-center bg-slate-900 bg-opacity-50 md:bg-transparent md:w-full md:justify-end md:h-fit"
    >
      <div
        class="p-4 m-4 bg-white w-full h-fit rounded-lg -translate-y-16 shadow-xl md:w-fit md:h-fit md:m-0 md:mx-4 md:px-8 md:-translate-y-12"
      >
        <ul>
          <li class="hover:underline">
            <a
              class="flex col gap-x-2 justify-center align-center"
              href="/inventory/make/create"
            >
              <img class="w-8 cursor-pointer" src="/images/plus_slate.svg" />
              <p class="flex items-center">Add Make</p>
            </a>
          </li>
          <li class="hover:underline">
            <a
              class="flex col gap-x-2 justify-center align-center"
              href="/inventory/vehicle/create"
            >
              <img class="w-8 cursor-pointer" src="/images/plus_slate.svg" />
              <p class="flex items-center">Add Vehicle</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="flex justify-center w-full">
      <div
        class="w-full mx-4 py-4 flex flex-row justify-evenly -translate-y-2/4 bg-white rounded-lg shadow-xl text-slate-700 md:w-fit md:gap-x-16 md:px-8"
      >
        <div class="text-center">
          <p class="text-2xl"><strong><%= vehicle_count %></strong></p>
          <p class="text-md">Vehicles</p>
        </div>
        <div class="text-center">
          <p class="text-2xl"><strong><%= make_count %></strong></p>
          <p class="text-md">Makes</p>
        </div>
      </div>
    </div>

    <div>
      <ul class="w-full flex row justify-evenly text-slate-600">
        <li>
          <a
            class="text-purple-700 font-bold underline"
            href="/inventory/vehicles"
            >Vehicles</a
          >
        </li>
        <li>
          <a href="/inventory/makes">Makes</a>
        </li>
      </ul>
    </div>

    <% if (vehicle_list.length) { %>
    <ul
      class="my-8 flex flex-col gap-y-4 text-slate-700 md:grid md:grid-cols-2 md:px-4 xl:grid-cols-3"
    >
      <% for (vehicle of vehicle_list) { %>
      <li
        class="mx-4 p-4 gap-x-4 flex flex-row bg-white rounded-lg shadow-xl text-sm justify-between"
      >
        <img class="h-24" src="<%= vehicle.image %>" />
        <div class="flex flex-col justify-between w-full">
          <p class="text-sm font-bold">
            <%= vehicle.year %> <%= vehicle.make.name %> <%= vehicle.model %>
            <%= vehicle.trim %>
          </p>
          <div class="flex flex-row justify-between text-sm">
            <p><%= vehicle.stock %></p>
            <p class="text-purple-700 font-bold">
              $<%= vehicle.priceFormatted %>
            </p>
          </div>
          <div class="flex flex-row justify-between gap-x-2">
            <a
              class="flex row justify-center cursor-pointer hover:underline"
              href="<%= vehicle.url %>"
            >
              Details
            </a>
            <a
              class="flex row justify-center cursor-pointer hover:underline"
              href="<%= vehicle.url %>/update"
            >
              <img class="w-4" src="/images/pencil.svg" />
              Edit
            </a>
            <a
              class="flex row justify-center cursor-pointer hover:underline"
              href="<%= vehicle.url %>/delete"
            >
              <img class="w-4" src="/images/delete.svg" />
              Delete
            </a>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
    <% } %>
  </body>
</html>
